/*my first css */

body{font-family:Arial, Helvetica, sans-serif;
background-color: bisque;

}
img{
    border:10px solid green

}
h1{
    border:5px dotted black
}
blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}
cite{
    font-size: 1.5rem;
    font-weight: bold;
}
.bigbold {
font-weight: bold;
}
a:link {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: blue;
}
a:visited {
text-decoration: dotted;
color: aqua;
font-size: 1rem;
}
a:hover {
    color: black;
}
